[Unit]
Description=Nebula Mesh Service
After=network.target

[Service]
ExecStart=/usr/bin/nebula/nebula -config /usr/bin/nebula/##HOSTNAME##.yml
Restart=always

[Install]
WantedBy=multi-user.target
