Package: nebdeb
Version: 1.0
Section: utils
Priority: optional
Architecture: amd64
Maintainer: gerryR <packages@domain.com>
Description: Nebula Service and Config Package
 A Debian package that install Nebula mesh service and it's customised configuration.
